body,
p {
    margin: 0;
    padding: 0
}

.lorem-text {
    color: #0094ff;
    font-size: 18px;
    font-family: Consolas, Arial, serif;
    max-width: 600px;
    margin-top: 10px;
    margin-left: 10px
}

.lorem-text:first-line {
    font-weight: bold;
    line-height: 34px
}

.lorem-text:first-letter {
    font-size: 38px;
    font-family: "Edwardian Script ITC", Consolas, Arial, serif
}
