form,
table,
thead,
tfoot,
tbody,
tr,
td,
th,
div,
input {
    margin: 0;
    padding: 0;
}

#grid {
    border: 1px solid #A4ABB2;
    border-collapse: collapse;
    border-radius: 10px;
    max-width: 800px;
    font-size: 10px;
    font-family: sans-serif;
    color: #733B5A;
}

#grid th {
    font-weight: normal;
    text-align: left;
}

#grid th,
thead td,
tbody td {
    border: 1px solid #A4ABB2;
    padding: 3px 5px 3px 5px;
}

#grid td input[type="checkbox"] {
    margin-top: 5px;
}

#product-id-field {
    width: 30%;
}

#product-name-field {
    width: 50%;
}

#unit-price-field {
    width: 50%;
}

#quantity-per-unit-field {
    width: 50%;
}

#units-field {
    width: 50%;
}

.filter-field {
    float: left;
}

#disconnected-field {
    float: left;
}

.filter-btn {
    border: none;
    background-image: url("images/filter-btn.png");
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    margin-left: 3px;
}

thead {
    background-color: #DFE3E8;
}

tfoot {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e5e9ed+0,e0e4e8+17,c1c5ca+79,b9bec3+100 */
    background: #e5e9ed;
    /* Old browsers */
    background: -moz-linear-gradient(top, #e5e9ed 0%, #e0e4e8 17%, #c1c5ca 79%, #b9bec3 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #e5e9ed 0%, #e0e4e8 17%, #c1c5ca 79%, #b9bec3 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #e5e9ed 0%, #e0e4e8 17%, #c1c5ca 79%, #b9bec3 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#e5e9ed', endColorstr='#b9bec3', GradientType=0);
    /* IE6-9 */
}

tfoot td {
    padding: 5px 10px;
}

tfoot tr td:last-child {
    text-align: right;
}

#grid-navigation > a {
    color: inherit;
    font-size: 12px;
    text-decoration: none;
    display: inline-block;
    border: 1px solid transparent;
    padding: 2px;
}

#grid-navigation > a:hover {
    border: 1px solid red;
}

.page-btn {
    border: none;
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
}

#first-page-btn {
    background-image: url("images/first-btn.png");
}

#prev-page-btn {
    background-image: url("images/prev-btn.png");
}

#next-page-btn {
    background-image: url("images/next-btn.png");
}

#last-page-btn {
    background-image: url("images/last-btn.png");
}
